{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
    {% for student in students %}
      <li>
        <h3>{{ student.name }}</h3>
        <ul>
          {% for teacher in student.teachers.all %}
            <li>{{ teacher.name }}: {{ teacher.subject }}</li>
          {% empty %}
            <li>Учителей нет.</li>
          {% endfor %}
        </ul>
      </li>
    {% empty %}
      <li>Студентов нет.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
